/*.project
/.classpath
/.settings/*
!/.settings/org.eclipse.buildship.core.prefs
/dist
/clover
/classes
/tests
/test-reports
/test-output
.externalToolBuilders/*
/.DS_Store
.DS_Store
/.com.apple.timemachine.supported
.gitattributes
.gitignore
TESTNG
/jalviewApplet.jar
/benchmarking/lib
*.class
*.zip
*.patch
*.diff
*.orig
/site
/site-resources
/libjs
/.gradle
/build
/local.properties
/utils/HelpLinksChecker.out
/getdown/website
/getdown/full_app
/getdown/files
/getdown/old
/getdown/src/getdown/*/target/
/getdown/src/getdown/core/src/main/java/com/threerings/getdown/data/Build.java
/getdown/src/getdown/launcher/dependency-reduced-pom.xml
/utils/install4j/jalview-installers-*.install4j
/utils/install4j/jalview-install4j-conf.install4j
*.swp
*.kate-swp
/bin
/.j2s
/template.html
/jalviewjsTest.html
/site1
/site2
/resources/.build_properties
/resources/channel_properties
/help/help/html/releases.html
/help/help/html/whatsNew.html
*.ref
!build/libs/jalview-all-2.11.3.0-j11.jar
authors.props
FEATURETODO
JAVA-11-README
modules
THIRDPARTYLIBS
/srcjar_unused/*
temp/*
unused/*
